@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

a{
  text-decoration: none;
}

p{
  margin: 0.75rem 0;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #93cb52;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-primary {
  background: #93cb52;
  color: #fff;
}

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  color: #fff;
  background: #93cb52;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background: #7ab436;
  cursor: pointer;
}

.btn-dark {
  background: #333;
  color: #fff;
}

.py-1{ padding: 1.5rem 0; }
.py-2{ padding: 2rem 0; }
.py-3{ padding: 3rem 0; }

.p-1{ padding: 1.5rem; }
.p-2{ padding: 2rem; }
.p-3{ padding: 3rem; }

.list {
  margin: 0.5rem 0;
  list-style: none;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: 1px dotted #444;
}

.menu-images {
  width: 450px;
  height: 350px;
  border-radius: 10%;
}

.menu-images-small {
  width: 150px;
  height: 150px;
  border-radius: 10%;
}

.widget {
  border: 1px solid #666;
  border-radius: 20px;
  margin: 0.5rem;
}

/* Navbar */
#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: #333;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar span {
  color: #7ab436;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: #93cb52;
  border-radius: 5px;
}

/* Showcase */
#showcase {
  background: #333 url('../images/showcase.jpg') no-repeat
  center center/cover;
  height: 100vh;
  color: #fff;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  /* Overlay */
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4)
}

/* Section: Menu List */
#menu .items {
  display: flex;
  padding: 1rem;
}

#menu .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#menu .items .item i {
  background: #93cb52;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

#menu .items .item img {
  width: 20rem;
  height: 20rem;
  border-radius: 25%;
}

/* Section: Chefs */
#chef {
  display: flex; 
}

#chef div {
  flex: 1;
}

#chef .chef-img {
  background: url('../images/chefs.jpg') no-repeat
  center center/cover;
} 

/* Section: Clients */
#clients .items {
  display: flex;
}

#clients .items img {
  display: block;
  margin: auto;
  width: 60%;
}

/* Section: Contact */
#contact {
  display: flex;
}

#contact .map, #contact .contact-form {
  flex: 1;
}

#contact .contact-form .form-group {
  margin: 0.75rem;
}

#contact .contact-form label {
  display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
}

/* Section: Register */

#register-showcase {
  background: url('../images/register-showcase.jpg') no-repeat center
  center/cover;
}

#register {
  margin: 1.875rem auto;
  max-width: 25rem;
  padding: 1.25rem; 
}

#register footer {
  text-align: center;
}

.form-wrap {
  background: #fff;
  padding: 0.94rem 1.563rem;
  color: #333;
}

.form-wrap h1,
.form-wrap p {
  text-align: center;
}

.form-wrap .form-group {
  margin-top: 0.94rem;
}

.form-wrap .form-group label {
  display: block;
  color: #666;
}

.form-wrap .form-group input {
  width: 100%;
  padding: 0.625rem;
  border: #ddd 1px solid;
  border-radius: 0.3125rem;
}

.form-wrap .form-group input:focus {
  border: 2px solid #7ab436;
}

.form-wrap button {
  margin-top: 1.25rem;
  width: 100%;
  padding: 0.625rem;
}

.form-wrap .bottom-text {
  font-size: 0.8125rem;
  margin-top: 1.25rem;
}

/* Section: Login */

#login-showcase {
  background: url('../images/register-showcase.jpg') no-repeat center
  center/cover;
}

#login {
  margin: 10rem auto;
  max-width: 30rem;
  padding: 1.25rem; 
}

#login footer {
  text-align: center;
}

.form-wrap {
  background: #fff;
  padding: 0.94rem 1.563rem;
  color: #333;
}

.form-wrap .form-group {
  margin-top: 0.94rem;
}

.form-wrap .form-group label {
  display: block;
  color: #666;
}

.form-wrap .form-group input {
  width: 100%;
  padding: 0.625rem;
  border: #ddd 1px solid;
  border-radius: 0.3125rem;
}

.form-wrap .form-group input:focus {
  border: 2px solid #7ab436;
}

.form-wrap button {
  margin-top: 1.25rem;
  width: 100%;
  padding: 0.625rem;
}

.form-wrap .bottom-text {
  font-size: 0.8125rem;
  margin-top: 1.25rem;
}

#login-showcase #main-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Section: User-menu */
#user-navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: #333;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#user-navbar span {
  color: #7ab436;
}

#user-navbar div input[type = "search"] {
  width: 40rem;
  height: 2rem;
  border-radius: 5rem;
}

#user-navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#user-navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem; 
}

#user-navbar ul li a:hover {
  background: #93cb52;
  border-radius: 5px;
}


.user-menu {
  display: flex;
  flex-direction: row;
}

.menu {
  background: #f4f4f4;
  border: 1px solid #fff;
  padding: 1rem;
  margin: 0.2rem;
  text-align: center;
  flex: 3;
}

.menu:first-child {
  flex: 1;
  text-align: left;
  border-bottom: 1px dotted #333;
}

.menu ul {
  display: block;
  list-style: none;
  }

.menu ul li {
  margin: 30px 0;
  border-bottom: 1px dotted #333;
}

.menu ul li a {
  color: #333;
}

.menu ul li a:hover {
  color: #fff;
  background: #93cb52;
  border-radius: 5px;
}

.user-avatar {
  width: 55px;
  height: 55px;
}

/* Section: User-Dashboard */
#dashboard{
 background: #f4f4f4;
}

.menu #profile-form label {
  display: block;
}

.menu #profile-form .form-group{
  padding: 0.75rem;
}

.menu #profile-form input[type = "text"], 
.menu #profile-form input[type = "email"]{
  border: 1px #fff solid;
  border-radius: 1rem;
  padding: 0.75rem;
  background: #ddd;
  text-align: center;
}
#my-order {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.my-order {
  flex: 1;
}

#dashboard #main-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Section: Caterer */
.container h1 {
  margin: 1rem 0;
  background: #fff;
}
.caterer-dashboard {
  display: flex;
}

.caterer-dashboard aside {
  border: 1px solid #ddd;
  display: inline-block;
}

.caterer-dashboard aside div {
  text-align: center;
}

.caterer-dashboard aside ul li {
  list-style: none;
  padding: 1rem 0;
}

.caterer-dashboard aside ul li a {
  color: #333;
}

.item1 ul li a:hover {
  background: #7ab436;
  color: #fff;
  padding: 0.75rem 0.4rem;
  border-radius: 2rem;
}

.caterer-dashboard .item1,
#order-details .order-details {
  flex: 1;
  padding: 1rem;
}

.caterer-dashboard .item1:last-child,
#order-details .order-details:last-child {
  flex: 5;
}

/* Panel Body Styling */
.item1 #panel-body {
  display: flex;
  justify-content: space-around;
}

.item1 #panel-body .panel-body {
  border: 1px solid #fff;
  background: #fff;
  text-align: center;
  border-radius: 10%;
}

/* Section: Order-details */
#order-details {
  display: flex;
  margin-top: 2rem;
}

#order-details aside {
  border: 1px solid #ddd;
  display: inline-block;
}

#order-details aside ul li { 
  list-style: none;
  padding: 0.3rem 0 0 0;
}

#order-details table {
  border: 1px solid #333;
  margin-left: 4rem;
  text-align: center;
  border-collapse: collapse;
}

#order-details table th,tr,td {
  padding-top: 0.75rem;
  border: 1px solid #333;
}

#order-details table tr:nth-child(even) {
background: #ccc;
}